{% extends "layout2.html" %}
{% block title %} Playlist download  {% endblock %}
          


{% block loading %}

<div class="post-class" >

    <div class="download-details" >
        <div class="div-thumbnail" style="background-image: url( {{ thumbnail_url }} );" > 
        <!-- <div class="div-thumbnail" style="background-image: url(https://i.ytimg.com/vi/akU7HXvYft8/hq720.jpg?sqp=-oaymwEXCNUGEOADIAQqCwjVARCqCBh4INgESFo&rs=AOn4CLB11Dv_l0R1Y4ES2jLEf-EhlB23cw);" >  -->
            <img class="yticon" src="../static/yticon.png"  alt="Youtube icon"/>

        </div>

        <div class="detail">

            <div class="title-para-div" >
                <p class="title-para"> 
                {{ videoTitle }}
                <!-- How to Create an Active Nav Link on Scroll using HTML CSS and Javascript | Active Menu Class -->
                </p>
            </div>
        <div class="option-detail">   
        <p> <span class="title-option-detail">Channel Name : </span>
            {{ author }}
        </p>   

        <p><span class="title-option-detail">Number of videos : </span> <span class="length-pl"><span class="length-pl-spa">{{ length }}</span>   Videos </span> 
        </p>
        <p><span class="title-option-detail">Download Format : </span>
            {{ download_format }} 
        </p>
         </div> 
         </div>

    </div>

    <div class="container">
        <div class="progress">
            <div class="top">
                <div class="small">
                    progress Percentage
                </div>
                <div class="info">
                    <p class="completion">
                        <span class="percentage" id="number" >0%</span>
                        <span  class="Completed">Completed</span>
                        <span class="done"></span>
                    </p>
                    <p class="sizep">0/{{ length }}</p>
                    <p class="count-vids">0</p>

                </div>
            </div>
            <div class="bar" id="outer-bar" >
                <span class="loader" id="progress-bar" style="width: 0%;" ></span>
            </div>
        </div>
    </div>
    <div class="confirm-div" >
        <a id="confirm"  href=" {{ url_for('upload') }} "  > Upload it </a>
</div>

</div>

<script>
    
    const maxVid = Number( document.querySelector(".length-pl-spa").innerText) ;
    const pas = (100 / maxVid).toFixed(0)  ;
    
    function fetchNumber() {
        fetch('/get_progress_p') 
            .then(response => response.json())
            .then(data => {
                const oldCount =  Number(document.querySelector(".count-vids").innerText) + 1 ;
                console.log( "current val :" + data.counter )
                console.log( " old : "  + oldCount  );
                var element = document.querySelector('#progress-bar');        
                if(data.counter === oldCount ){
                    document.getElementById("outer-bar").style.animation = "none";  
                    document.getElementById('number').innerText = data.counter*pas + "%";
                    element.style.transition = "width 1s ease";
                    console.log( 'video number ' +  pas) ;
                    
                    element.style.width =  data.counter*pas + '%';
                    document.querySelector('.sizep').innerText = data.counter + " / " + maxVid ;
                    document.querySelector('.count-vids').innerText =  data.counter ;
                    document.getElementById('confirm').click()

                }
                if(  data.counter === maxVid) {
                     document.getElementById('number').innerText = 100 + "%";
                    element.style.transition = "width 1s ease";
                    element.style.width = '100%'; 
                    document.querySelector('.done').style = 'display:flex';
                    document.querySelector('.Completed').innerText = ' PlayList Downloaded Successfully'; 
                    document.querySelector('.allow-click1').style.cursor = 'pointer';
                        document.querySelector('.allow-click1').setAttribute('href', '#faq');
                        document.querySelector('.allow-click2').style.cursor = 'pointer';
                        document.querySelector('.allow-click2').setAttribute('href', '#contactUs');
                        document.querySelector('.allow-switch-click0').style.cursor = 'pointer';
                        document.querySelector('.allow-switch-click0').setAttribute('href', '/switch');
                    clearInterval(intervalId);
                }
                
                }

            
            )
            .catch(error => {
                console.error('Error:', error);
            }

               
            
            );
    }
    

    var intervalId = setInterval(fetchNumber, 2000); 
    fetchNumber();

</script>

{% endblock loading  %}  

