{% extends "layout.html" %}
{% block title %} - Playlist {% endblock %}
{% block titleApp %}  Playlist {% endblock titleApp %}


{% block bar %} 
                <!-- <form class="link-a1"  action="/" method="post"> -->
                <a type="submit" class=  "link-a11  " href="/">Home</a>
                <!-- </form> -->
                <!-- <form class=  "link-a2"  action="/switch" method="post"> -->
                <a type="submit" class=  "link-a22  " href="/switch">Playlist</a>
                <!-- </form> -->
                <a class="link-a3   " href="#faq">FAQs</a>
                <a class="link-a4   " href="#contactUs">Contact us</a>
                <span class="navbar-span1"  ></span>
{% endblock bar %} 



{% block input %}


<form  action="/switch" method="post" id="youtubeForm">
    <div  class="input-video">
    
    
    <div class="link-div" >
        <input class="url-class" type="url" placeholder="Playlist URL" name="url" id="youtubeUrl" required  > 
        <span class="custom-button-url" ><img src="../static/url.png" alt="button-failed" class="custom-button-url-icon"></span>

    </div>
    <div class="choice-type">
        <select name="typeDownload"  id="typeDownload"  >
            <option disabled selected >Type Of Download</option>
            <option  value="Mp4">Mp4 </option>
            <option  value="Mp3">Mp3 </option>
        </select>
        <span class="custom-button-select" ><img src="../static/choose.png" alt="button-failed" class="custom-button-select-icon"></span>
    </div>

    </div>
    <div class="button-download" >
        <button name="check"  type="submit" class="button" id="alertuse">
            <div class="button-div">
                
                    <img class="dwnimg" src="../static/download.png" alt="download-icon"> <div>Download</div>  
                
            </div>
        </button>
    </div>

</form>
<script>
    document.getElementById("youtubeForm").addEventListener("submit", function(event) {
        event.preventDefault();             
        var url = document.getElementById("youtubeUrl").value;
        const pattern = /^(https?:\/\/(?:www\.)?youtube\.com\/(?:playlist))/;
        var typeDownload = document.getElementById("typeDownload").value;
        var TYPES = ['Mp3', 'Mp4'];
        if (!pattern.test(url)) {
            document.getElementById('alertuse').addEventListener('click', function() {
                customAlert('Please enter a valid Playlist URL.');
            });
            return;
        }
        if (!TYPES.includes(typeDownload)) {
            document.getElementById('alertuse').addEventListener('click', function() {
                customAlert('Please Select a type of download');
            });            
            return;
        }
        this.submit();
    });
    
</script> 

{% endblock input %}




